<library path="lib/librqt_param_manager">
  <class name="rqt_param_manager/MainView" type="rqt_param_manager::MainView" base_class_type="rqt_gui_cpp::Plugin">
    <description>
      rqt param manager description.
    </description>
    <qtgui>
      <!--
      <group>
        <label></label>
        <icon type="theme"></icon>
        <statustip></statustip>
      </group>
      -->
      <label>rqt param manager</label>
      <icon type="theme">image-x-generic</icon>
      <statustip>rqt param manager tip.</statustip>
    </qtgui>
  </class>
</library>
